SYSTEM_NAME=components
COMPONENT_ID=security_monitor
BROKER_USER=security_monitor
BROKER_PASSWORD=security_monitor_secret
POLICY_ADMIN_SENDER=security_monitor_admin
SECURITY_POLICIES=

# Таймаут реального request к целевому компоненту внутри МБ
SECURITY_MONITOR_PROXY_REQUEST_TIMEOUT_S=10.0
