SYSTEM_NAME=components
COMPONENT_ID=sprayer
BROKER_USER=sprayer
BROKER_PASSWORD=sprayer_secret

SECURITY_MONITOR_TOPIC=
JOURNAL_TOPIC=

SITL_MODE=mock
SITL_COMMANDS_TOPIC=

SPRAYER_TEMPERATURE_C_DEFAULT=40.0
SPRAYER_TANK_LEVEL_PCT_DEFAULT=75.0

