SYSTEM_NAME=components
COMPONENT_ID=mission_handler
COMPONENT_TOPIC=
SECURITY_MONITOR_TOPIC=
AUTOPILOT_TOPIC=
JOURNAL_TOPIC=
MISSION_HANDLER_REQUEST_TIMEOUT_S=10.0
BROKER_USER=mission_handler
BROKER_PASSWORD=mission_handler_secret

