SYSTEM_NAME=components
COMPONENT_ID=motors
BROKER_USER=motors
BROKER_PASSWORD=motors_secret

SECURITY_MONITOR_TOPIC=

# Выход в симулятор (пока mock)
SITL_MODE=mock
SITL_COMMANDS_TOPIC=

# Примеры внутренних констант/метрик
MOTORS_TEMPERATURE_C_DEFAULT=55.0

