SYSTEM_NAME=components
COMPONENT_ID=motors
BROKER_USER=motors
BROKER_PASSWORD=motors_secret

SECURITY_MONITOR_TOPIC=

# Выход в симулятор
SITL_MODE=mock
SITL_COMMANDS_TOPIC=
SITL_KAFKA_SERVERS=localhost:9092
SITL_KAFKA_COMMANDS_TOPIC=input-messages
SITL_DRONE_ID=drone_001

# Примеры внутренних констант/метрик
MOTORS_TEMPERATURE_C_DEFAULT=55.0

